<!DOCTYPE html>

<html>
    <head>
        <title> Handy Words</title>
        
    </head>
    
    <body>
        
        
        <p id="res">Insert your text here to be translated </p>
        <button id = "Clicky" onclick = "myFunction()" type="button">Send</button>
        <button id = "Update" onclick = "Update()" type="button">Update</button>
        <fieldset>
            <label>Insert your text here to be translated: </label>
            <input id = "SendingTo" size=50 height=80></input>
        </fieldset>

        <fieldset>
            <label >Text:&emsp; </label>
            <input id = "TextIn"></input>
           
        </fieldset>
    
        
      
        <script>



           
            function myFunction(){
                

                

            }
            function Update(){
              
            }

            function updateSender(){


            }
            function updateText(){
                
                
                    

            }

          
        </script> 
    </body>
</html>


